.ac{
  color: #000;
  font-size: 0.28rem;
}
.cover{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.split{
  width: 100%;
  height: 0.13rem;
  background-color: #eee;
}

.pd13{
  box-sizing: border-box;
  padding: 0 0.13rem;
}
.pd23{
  box-sizing: border-box;
  padding: 0 0.23rem;
}
